<section class="publis">
<article>
    <button><img src="../../assets/img/cat01.jpg" width="490px" height="800px" alt=""></button>
    <button><img src="../../assets/img/cat02.jpg" width="490px" height="800px" alt=""></button>
    <button><img src="../../assets/img/cat05.jpg" width="490px" height="800px" alt=""></button>
</article>

<article>
    <button><img src="../../assets/img/cat11.jpg" width="738px" height="823px" alt=""></button>
    <button><img src="../../assets/img/cat08.jpg" width="738px" height="823px" alt=""></button>
</article>

<article>
    <button><img src="../../assets/img/cat04.jpg" width="1480px" height="750px" alt=""></button>
</article>

<article>
    <button><img src="../../assets/img/cat12.jpg" width="490px" height="800px" alt=""></button>
    <button><img src="../../assets/img/cat09.jpg" width="490px" height="800px" alt=""></button>
    <button><img src="../../assets/img/cat06.jpg" width="490px" height="800px" alt=""></button>
</article>

<article>
    <button><img src="../../assets/img/cat03.jpg" width="738px" height="823px"  alt=""></button>
    <button><img src="../../assets/img/cat13.jpg" width="738px" height="823px"  alt=""></button>
</article>
<article>
    <button><img src="../../assets/img/cat07.jpg" width="1480px" height="750px" alt=""></button>
</article>
</section>
<dialog id="login" >
    <form action="/login" method="post" class="login">
    <label for="nome">Usuário</label>
    <input type="text" name="nome" >

    <label for="senha">Senha</label>
    <input type="password" name="senha">

    <input type="submit" value="Entrar">
    </form>
    <div>
            <h1>Cadastre-se</h1>
            <p>Ainda não possui conta?cadastre-se no site</p>
            <input type="submit" value="Cadastro">
    </div>
</dialog>

