<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <img class="logo" src="../../assets/img/cat.png" alt="">
    <div class="links">
     <button class="login"> <a href="/Login">LOGIN</a></button>
     <button class="cadastro"> <a href="/cadastro">REGISTRAR</a></button>
    </div>
  </nav>
  {{{body}}}

  <footer>
    <p>Todos os direitos reservados</p>
  </footer>

</body>

</html>